* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
}

body {
    display: flex;
    align-items: center;
    margin-left: 200px;
    height: 100vh;  
    background-image: url(https://c4.wallpaperflare.com/wallpaper/568/845/216/dark-blue-blur-gradation-wallpaper-preview.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

nav {
    height: 60px;
    background-color: #084B83;
    display: flex;
    align-items: center;
    padding: 0 40px;
    /* box-shadow: 10px 10px 100px #746F72, -10px -10px 30px #746F72; */
}

nav h1 {
    color: #F0F6F6;
}

.form-con input {
    padding: 8px 20px;
    border-radius: 6px;
    border: 3px solid #DBE9EE;
    outline: none;
    margin: 8px 0;
    transition: all ease-in-out 0.2s;
}

.form-con input:focus {
    box-shadow: 5px 5px 10px #EAC5D8, -5px -5px 10px #EAC5D8;
    background-color: #F2E2D2;
}

#resultBox {
    height: 200px;
    width: 200px;
    background-color: #f1f;
}

.form-con {
    height: 440px;
    width: 500px;
    /* border: 2px solid black; */
    background-color: #AFBED1;
    padding:10px 20px;
    border-radius: 10px;
    display: flex;
    box-shadow: 8px 8px 300px #EAC5D8, -8px -8px 300px #EAC5D8;
    border: 3px solid #F2E2D2;
}

button {
    margin-top: 14px;
    padding: 6px 30px;
    border-radius: 5px;
    border: none;
    outline: none;
    transition: all ease 0.2s;
}

button:hover {
    box-shadow: 8px 8px 20px #EAC5D8, -8px -8px 20px #EAC5D8;
    background-color: #F2E2D2;
}

#ans {
    background-color: #DBD8F0;
    height: 198px;
    width: 200px;
    margin: 22px;
    padding: 8px 15px;
    border-radius: 10px;
    border: 3px solid #F2E2D2;
    box-shadow: 8px 8px 20px #EAC5D8, -8px -8px 20px #EAC5D8;

}

label {
    font-size: 13px;
    /* padding-top: 10px; */
}

body h2 {
    color: #f1f1f1;
    margin-left: 30px;
}