* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
}

body {
}

form {
    display: flex;
    justify-content: space-between;
    padding: 10px 80px;
}

h1 {
    margin: 30px 80px;
    background: lightblue;
    padding: 10px 40px;
}

input {
    padding: 10px;
    border-radius: 6px;
    font-weight: bolder;
    color: blue;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    background-color: rgb(237, 248, 255);
}

#in_btn {
    padding: 12px 27px;
    margin:0px 10px;
    border-radius: 6px;
    background: lightblue;
}

ul {
    padding: 27px 98px;
}

ul button {
    margin: 0px 10px;
    padding: 0 6px;
}

ul li {
    margin-top: 10px;
}